/*@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');*/
.color_fondo_header {
  background-color: #F1E705;
}

.color-negro {
  color: black;
}

.greeting {
  text-align: center;
  background-color: #F1E705;
  padding: .125rem;
}
.prueba {
  display: flex;
  direction: row;
  justify-content: space-evenly;

}

.navbar{
  font-family: 'Permanent Marker', cursive;
  color: white;
  font-size: 20px;
  
}

.card-espacio {
  gap: 2rem;
}

.espacio-navbar {
  display: flex;
  justify-content: space-between;
}

.Caards{
  display: flex;
  justify-content: center; /* Añadido para centrar horizontalmente */
  flex-wrap: wrap; /* Añadido para permitir que las tarjetas se ajusten en filas */
  align-items: flex-start; /* Opcional, ajusta según tus necesidades */
  gap: 16px; /* Espacio entre tarjetas */
  
}

.img-carrito{
  width: 100px;
  height: auto;
  border: 1px;
}